.nav {
    background-image:url(../images/icons/nav.png);
}

.home {
    background-image:url(../images/icons/home.png);
}

.btn-logout {
	background-image:url("../images/icons/logout.png") !important;
}

.btn-onlineUser {
	background-image:url("../images/icons/eyes.png") !important;
}

.tipsTile {
	background-image:url("../images/icons/tips.jpg") !important;
}

.btn-expand {
	background-image:url("../images/icons/btn-expand.png") !important;
}

.add {
	background-image:url("../images/icons/add.png") !important;
}

.delete {
	background-image:url("../images/icons/delete.png") !important;
}

.edit {
	background-image:url("../images/icons/edit.png") !important;
}

.save {
	background-image:url("../images/icons/save.png") !important;
}

.redo {
	background-image:url("../images/icons/redo.png") !important;
}

.query {
	background-image:url("../images/icons/query.png") !important;
}

.authorization {
	background-image:url("../images/icons/authorization.png") !important;
}

.bind {
	background-image:url("../images/icons/bind.png") !important;
}

.unbind {
	background-image:url("../images/icons/unbind.png") !important;
}

.refresh {
	background-image:url("../images/icons/refresh.png") !important;
}

.expand {
	background-image:url("../images/icons/expand.png") !important;
}

.collapse {
	background-image:url("../images/icons/collapse.png") !important;
}